
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/sb-admin-2.css"/>
    <title>Erik's Resto</title>
  </head>
<body>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light p-3 mb-3 rounded">
        <div class="container-fluid ">
            <a class="navbar-brand fw-bold" href="#">
                <img src="../images/food.png" alt="" width = "70px"> Erik's Resto
            </a>
            <div class="navbar-nav">
                <a class="nav-link active fw-bold" aria-current="page" href="#">Order Makanan</a>
                <a class ="nav-link fw-bold" href="/foods">Halaman Tambah Makanan</a>
                <a class="nav-link fw-bold" href="/customers">Halaman Customer</a>
                <a class="nav-link fw-bold" href="/">LogOut</a>
            </div>
        </div>
    </nav>
    <!-- End of Navbar -->
    <!-- Tables -->
    <div class="container ">
        <h1 class="text-center text p-4 fw-bold d-flex justify-content-center">Daftar Pesanan</h1>
        <table class="table align-middle mb-0 bg-white tbl">
            <thead class="bg-light">
                <tr>
                <th class="text-center">Id Pemesanan</th>
                <th>Nama Pemesan</th>
                <th>Makanan Yang Dipesan</th>
                <th>Nomor Telephone</th>
                <th>Alamat</th>
                <th class="text-center">Waktu Pesan</th>
                <th>Status Pemesanan</th>
                <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach(order => { %>
                <tr>
                    <td>
                        <% order.id = Number(order.id) %>
                        <p class="fw-normal mb-1 text-center"><%= order.id %> </p>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <img
                                src="../images/<%= order.customer.image%>"
                                alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                                />
                            <div class="ms-3">
                                <p class="fw-bold mb-1"><%= order.customer.name %></p>
                            </div>
                        </div>
                    </td>
                    <td><%= order.food.name %></td>
                    <td><%= order.customer.phone %></td>
                    <td><%= order.customer.address %></td>
                    <td class="text-center"><%= `${order.updatedAt.getFullYear()}-${order.updatedAt.getMonth()+1}-${order.updatedAt.getDate()} | ${order.updatedAt.getHours()} : ${order.updatedAt.getMinutes()} : ${order.updatedAt.getSeconds()}` %></td>
                    <td>
                        <% if(order.status === 'sampai') { %>
                            <span class="badge badge-success rounded-pill d-inline p-1"><%= order.status %></span>     
                        <% } else if(order.status === 'dalam proses pengantaran') { %>
                            <span class="badge badge-primary rounded-pill d-inline"><%= order.status %></span>   
                        <% } else if(order.status === 'pending') { %>
                            <span class="badge badge-warning rounded-pill d-inline"><%= order.status %></span>
                        <% } else if(order.status === 'ditolak') { %>
                            <span class="badge badge-danger rounded-pill d-inline"><%= order.status %></span>   
                        <% } else if(order.status === 'proses memasak') { %>
                            <span class="badge badge-info rounded-pill d-inline"><%= order.status %></span>    
                        <% } %>
                    </td>
                    <td>
                        <a href="/admin/edit/<%= +order.id%>" type="button" class="btn btn-success btn-sm btn-rounded shadow-sm">
                        Edit
                        </a>
                         <a href="/orders/delete/<%=order.id%>" type="button" class="btn btn-danger btn-sm btn-rounded shadow-sm">
                        Delete
                        </a>
                    </td>
                </tr>
                <% }) %> 
            </tbody>
        </table>
    </div>
    <!-- End of Tables -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>